/*HOME*/

body {

font-family: Helvetica, Trebuchet MS, Arial, Sans-serif;
background:#f1f8fe url(../img/bg-body.jpg) repeat-x;

}
	
#page{background:url(../img/bg-page.png) no-repeat 50% 0;}


#page {


}

#section-header 
{



}

#zone-branding
{
}

.site-name-slogan {
	margin: 20px;
}

.site-name a {

color:#000;
font-familty: Trebuchet MS, helvetica, arial, sans-serif;
font-weight:normal;
text-transform: uppercase;

}

#zone-menu {

}

#region-menu {
margin-left:0;
}

nav.navigation {

border-bottom:none;
overflow:hidden;

}

#main-menu li {
border-radius:3px 3px 0px 0px;
-moz-border-radius:3px 3px 0px 0px;
-webkit-border-radius:3px 3px 0px 0px;
display:block;
float:left;
padding:0;
margin:0;
margin-right:2px;
background: url(../img/bg-navbar.jpg) repeat-x;
}
#main-menu li a {
padding:5px 15px;
display:block;
color:#444;
border-radius:3px 3px 0px 0px;
-moz-border-radius:3px 3px 0px 0px;
-webkit-border-radius:3px 3px 0px 0px;
text-transform:uppercase;
text-decoration:none;
font-size:14px;
/*jborder:1px solid #999;

border-bottom:none;
border-color: #fff #999 #999 #fff;
*/

height: 40px;
line-height: 38px;
padding: 0 10px;
background: url(../img/bg-primary-a.png) no-repeat 100% 0;

}

#main-menu li a.active-trail
{
background: #fff url(../img/bg-primary-active-a.jpg) no-repeat 50% 0;

}
sdf
#main-menu li.active-trail {

background: url(../img/bg-primary-active-li.jpg) repeat-x;
}

#zone-content {

background:#FFF;

}

/* This file will hold the main styles for your website. */
.page-node-add-task .node-task-form .form-item {
float:left;
}


.page-node-add-task .form-item-field-actual-time-und-0-value {
display:none;

}

.page-node-add-task .form-item-field-parent-und-0-nid {
display:none;
}


